@import '../../common/vars';

.container {
  padding: 20px;
  background: $header-bg-color;
}

.title {

  &-link {
    color: $header-title-color;
    text-decoration: none;
    cursor: pointer;
  }
}