@import "../../common/variables/header";

.container {
  padding: 10px 20px;
  background-color: $header-bg-color;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: $header-title-color;
}
