@import "../../common/variables/category";

.item {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &_update {
    composes: item;
    background: url("./../../images/update.png") center no-repeat;
    background-size: contain;
  }

  &_create {
    composes: item;
    background: url("./../../images/create.png") center no-repeat;
    background-size: contain;
  }

  &_delete {
    composes: item;
    background: url("./../../images/delete.png") center no-repeat;
    background-size: contain;
  }
}
