@import '../../common/vars';

.container {
  border: 1px solid $progress-bar-container-border-color;
}

.indicator {
  transition: width 1s;
  width: 100%;
  height: 10px;
  background-color: $progress-bar-indicator-bg-color;
}