@import "../vars";

$create-item-input-border-color: $primary;
$create-item-button-border-color: $primary;
$create-item-button-border-color-hover: $accent;
$create-item-button-bg-color: $secondary;
$create-item-button-color: $primary;
$create-item-button-color-hover: $accent;