@import "../../common/variables/toggler";

.item {
  display: inline-flex;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid $toggler-color;
  margin-right: 10px;
  transform: rotate(45deg);
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &_opened {
    align-self: flex-end;
    composes: item;
    border-right: none;
    border-bottom: none;
  }

  &_closed {
    align-self: flex-start;
    composes: item;
    border-top: none;
    border-left: none;
  }
}