@import '../../common/vars';


.item {
  display: flex;
  padding: 0 10px;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.icon {
  display: inline-flex;
  width: 10px;
  height: 10px;
  border: 1px solid $toggler-color;
  transform: rotate(45deg);

  &_opened {
    composes: icon;
    border-right: none;
    border-bottom: none;
  }

  &_closed {
    composes: icon;
    border-top: none;
    border-left: none;
  }
}